.top-bar {
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px 250px;

}

.option{
    border: none;
    height: 100%;
    padding: 15px 10px;
    font-size: smaller;
    justify-self: flex-start;
}


.clicked{
    background-color: white;
    border-top: 2px solid #407EC9;
    color: #4D87CD;
}

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 100px;
}

.logo img {
    height: 40px;
}

input {
    padding: 10px;
    width: 300px;
}

.user-options{
    text-decoration: none;
    color: #333;
}

nav {
    background-color: white;
    color: black;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 15px;
    display: block;
}



.section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
.items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-self: center;
    width: 70vw;
    div, img{
        display: grid;
        grid-gap: 10px;
    }

}

.items-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 60vw;
    justify-content: space-between;
    align-self: center;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.button {
    color: white;
    background-color: #407EC9;
    padding: 10px 20px;
    border: none;
}